{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"trailingComma": "all",
	"singleQuote": true,
	"semi": false,
	"arrowParens": "always",
	"importOrder": [
		"(.scss)$",
		"<THIRD_PARTY_MODULES>",
		"^@/layouts/",
		"^@/components/",
		"^@/ui/"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
